:root {
  --logo-color: #3A404E;
  --primary-color: #667085;
  --second-color: #101828;
  --highlight-color: #8E2424;
  --highlight-opacity-color: #8E24240D;
}

body {
  font-family: 'Inter', sans-serif;
}