@import "../reset.css";
@import "base.css";

/* Menu */
.menu {
  padding: 26px 112px;
  display: flex;
  justify-content: space-between;
}
.menu a {
  color: var(--primary-color);
  font-weight: 500;
  margin: 0 16px;
}
.menu-logo {
  display: flex;
  align-items: center;
  margin: 0 119px 0 0;
}
.menu-logo a {
  display: inline-block;
  margin: 0 0 0 8px;
  font-size: 1.2rem;
}
.menu-pages, .menu-buttons {
  display: flex;
  align-items: center;
}
.menu-buttons .signup {
  margin-left: 16px;
  color: #fff;
  padding: 10px 18px;
  border-radius: 8px;
  background-color: var(--highlight-color);
}

/* About */
.about {
  max-width: 790px;
  width: 100%;
  margin: 96px auto 0;
}
.about-tag {
  display: block;
  text-align: center;
  font-weight: 600;
  color: var(--highlight-color);
  margin: 0 0 24px;
}
.about-title {
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  margin: 0 0 36px;
  color: var(--second-color);
}
.about-text {
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.5;
  color: var(--primary-color);
}


/* Metrics */
.metrics {
  margin: 100px 0 0;
  padding: 0 calc(112px - 16px);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.metrics-card {
  margin: 0 16px 20px;
  width: 280px;
}
.metrics-card h2 {
  font-size: 3.75rem;
  font-weight: 600;
  color: var(--highlight-color);
  margin: 0 0 12px;
}
.metrics-card h3 {
  font-size: 1.125rem;
  font-weight: 500;
  margin: 0 0 8px;
  color: var(--second-color);
}
.metrics-card p {
  line-height: 1.5;
  color: var(--primary-color);
}


/* Jobs */
.jobs {
  margin: 100px 0 0;
  padding: 0 112px;
}
.jobs-tag {
  text-align: center;
  display: block;
  font-weight: 600;
  color: var(--highlight-color);
  margin: 0 auto 16px;
  padding: 4px 12px;
  border-radius: 16px;
  width: fit-content;
  min-width: 125px;
  background-color: var(--highlight-opacity-color);
}
.jobs-title {
  text-align: center;
  font-size: 2.25rem;
  font-weight: 600;
  margin: 0 0 20px;
  color: var(--second-color);
}
.jobs-text {
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.5;
  color: var(--primary-color);
  margin: 0 0 64px;
}
.jobs-image-container {
  width: 100%;
}
.jobs-image-container img {
  display: block;
  width: auto;
  max-width: 100%;
  margin: 0 auto;
}
.jobs-list {
  padding: 0px 18.425%;
}
.jobs-list-item {
  max-width: 768px;
  margin: 64px auto 0;
}
.jobs-list-item h2 {
  color: var(--second-color);
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0 0 32px;
}
.jobs-list-item-container {
  border: 1px solid #EAECF0;
  border-radius: 16px;
  padding: 24px 24px 28px;
  margin: 24px 0 0;
}
.jobs-list-item-container:first-of-type {
  margin: 0;
}
.jobs-list-item-container h3 {
  color: var(--second-color);
  font-size: 1.125rem;
  font-weight: 500;
  margin: 0 0 32px;
}
.jobs-list-item-container p {
  color: var(--primary-color);
  display: flex;
}
.jobs-list-item-container p span {
  display: block;
}
.jobs-list-item-container p span:first-of-type {
  margin: 0 24px 0 0;
}


/* Testimony */
.testimony {
  margin: 96px 0 0;
  padding: 0 112px;
}
.testimony-content {
  padding: 64px;
  background-color: var(--highlight-opacity-color);
}
.testimony-tag {
  text-align: center;
  display: block;
  font-weight: 600;
  color: var(--highlight-color);
  margin: 0 auto 16px;
  width: fit-content;
}
.testimony-title {
  max-width: 1080px;
  text-align: center;
  font-size: 2.25rem;
  font-weight: 600;
  margin: 0 auto 32px;
  color: var(--second-color);
}
.testimony-container img {
  display: block;
  width: auto;
  margin: 0 auto 16px;
}
.testimony-container h3 {
  text-align: center;
  color: var(--second-color);
  margin: 0 auto 4px;
}
.testimony-container p {
  text-align: center;
  font-size: 14px;
  color: var(--primary-color);
}

/* Footer */
.footer {
  background-color: #F9FAFB;
  padding: 96px 112px;
  margin: 96px 0 0;
}
.footer-content {
  max-width: 768px;
  margin: 0 auto;
}
.footer-title {
  text-align: center;
  font-size: 2.25rem;
  font-weight: 600;
  margin: 0 0 20px;
  color: var(--second-color);
}
.footer-text {
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.5;
  color: var(--primary-color);
  margin: 0 0 40px;
}
.footer-form {
  display: flex;
  justify-content: center;
  margin: 0 0 32px;
}
.footer-form .input {
  margin-right: 16px;
  padding: 12px 16px;
  color: var(--primary-color);
  background-color: #fff;
  border: 1px solid #D0D5DD;
  border-radius: 8px;
  display: block;
  max-width: 360px;
  width: 100%;
}
.footer-form .input::-webkit-input-placeholder {
  color: var(--primary-color);
}
.footer-form .input:-ms-input-placeholder {
  color: var(--primary-color);
}
.footer-form .input::placeholder {
  color: var(--primary-color);
}
.footer-form .button {
  padding: 12px 20px;
  background-color: var(--highlight-color);
  color: #fff;
  border-radius: 8px;
}
.footer-copyright {
  color: var(--primary-color);
  text-align: center;
}